<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <main></main>
    <footer>
        <p>Developed by Batouchan Omer, 2022 
            <a href="https://github.com/batoomer"><img src=<%=require("./GitHub-Mark-Light-32px.png")%> alt="GitHub"></a>
        </p>
    </footer>
</body>
</html>